{% extends 'auth.html' %}

{% block titre %}DUlSine - Résumé du DPS{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="{% url 'index' %}">Accueil</a> <span class="divider">/</span></li>
  <li><a href="{% url 'dps.demande' %}">Demande</a> <span class="divider">/</span></li>
  <li class="active">{{ dps }}</li>
</ul>
{% endblock %}

{% block corps %}
<div class="page-header">
  <h1>{{ dps.intitule }}</h1>
</div>

<p>Cette page liste les différents dimensionnements de votre manifestation. Chaque dimensionnement correspond à une journée.</p>

<div class="row">
  <div class="span12">
    <h2>Résumé de la demande <small><a href="{% url 'dps.demande.modification' dps.hash_id %}">modifier</a></small></h2>
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Organisateur</a></li>
        <li><a href="#tab2" data-toggle="tab">Coordonnées</a></li>
        <li><a href="#tab3" data-toggle="tab">Manifestation</a></li>
        <li><a href="#tab4" data-toggle="tab">Lieu</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <dl class="dl-horizontal">
            <dt>Nom</dt>
            <dd>{{ dps.organisateur.nom }}</dd>
            <dt>Adresse<dt>
            <dd>{{ dps.organisateur.adresse }}</dd>
            <dt>Représentant légale</dt>
            <dd>{{ dps.organisateur.representant_civilite }} {{ dps.organisateur.representant_nom }} {{ dps.organisateur.representant_prenom }}, {{ dps.organisateur.representant_fonction }}</dd>
          </dl>
        </div>
        <div class="tab-pane" id="tab2">
          <dl class="dl-horizontal">
            <dt>Contact</dt>
            <dd>{{ dps.organisateur.contact_civilite }} {{ dps.organisateur.contact_nom }} {{ dps.organisateur.contact_prenom }}, {{ dps.organisateur.contact_fonction }}</dd>
            {% if dps.organisateur.telephone %}
            <dt>Téléphone</dt>
            <dd><a href="tel:{{ dps.organisateur.telephone }}">{{ dps.organisateur.telephone }}</a></dd>
            {% endif %}
            {% if dps.organisateur.portable %}
            <dt>Portable</dt>
            <dd><a href="tel:{{ dps.organisateur.portable }}">{{ dps.organisateur.portable }}</a></dd>
            {% endif %}
            {% if dps.organisateur.fax %}
            <dt>Fax</dt>
            <dd>{{ dps.organisateur.fax }}</dd>
            {% endif %}
            <dt>email</dt>
            <dd><a href="mailto:{{ dps.organisateur.email }}">{{ dps.organisateur.email }}</a></dd>
            <dt>Contact sur place</dt>
            <dd>{{ dps.contact_sur_place_civilite }} {{ dps.contact_sur_place_nom }} {{ dps.contact_sur_place_prenom }} (<a href="tel:{{ dps.contact_sur_place_telephone }}">{{ dps.contact_sur_place_telephone }}</a>)</dd>
          </dl>
        </div>
        <div class="tab-pane" id="tab3">
          <dl class="dl-horizontal">
            <dt>Intitulé</dt>
            <dd>{{ dps.intitule }}</dd>
            <dt>Objet</dt>
            <dd>{{ dps.objet }}</dd>
            <dt>Risques</dt>
            <dd>{{ dps.risques }}</dd>
          </dl>
        </div>
        <div class="tab-pane" id="tab4">
          <dl class="dl-horizontal">
            <dt>Lieu</dt>
            <dd>{{ dps.lieu }}</dd>
            <dt>RdV</dt>
            <dd>{{ dps.adresse_rdv }}</dd>
            {% if dps.duperficie %}
            <dt>Superficie</dt>
            <dd>{{ dps.superficie }} m²</dd>
            {% endif %}
            {% if dps.distance %}
            <dt>Distance</dt>
            <dd>{{ dps.distance }} m</dd>
            {% endif %}
            <dt>Circuit</dt>
            <dd>{{ dps.get_circuit_display }}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="span12">
    <h2>Liste des dimensionnements <small><a href="{% url 'dps.demande.dimensionnement' dps.hash_id %}">Ajouter</a></small></h2>
    {% if dims %}
    <table class="table table-striped">
    <thead>
    <tr>
      <th>Jour</th>
      <th>Horaire</th>
      <th>Intitulé</th>
      <th width="10%">Actions</th>
    </tr>
    </thead>
    {% for dim in dims %}
    <tr>
      <td>{{ dim.debut|date:"D d/m/y"|capfirst}}</td>
      <td>{{ dim.debut|date:"H:i"}} - {{ dim.fin|date:"H:i" }}</td>
      <td>{{ dim.nom }}</td>
      <td>
        <a href="{% url 'dps.demande.dimensionnement.modification' dps.hash_id dim.id %}" class="btn btn-primary btn-mini" title="modifier"><i class="icon-pencil"></i></a>
        <a href="{% url 'dps.demande.dimensionnement.copy' dps.hash_id dim.id %}" class="btn btn-success btn-mini" title="dupliquer"><i class="icon-plus-sign"></i></a>
        <a href="#deleteModal{{ dim.id }}" role="button" class="btn btn-danger btn-mini" title="supprimer" data-toggle="modal"><i class="icon-trash"></i></a>
        <div id="deleteModal{{ dim.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Suppression</h3>
          </div>
          <div class="modal-body">
            <p>Etes-vous certains de supprimer ce dimensionnement ?</p>
            <p><i>{{ dim }}</i></p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
            <a href="{% url 'dps.demande.dimensionnement.delete' dps.hash_id dim.id %}" class="btn btn-danger">Supprimer</a>
          </div>
        </div>
      </td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <div class="alert">
      <strong>Attention :</strong> auncun dimensionnement pour ce DPS. Cliquez sur le liens «Ajouter».
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
