{% extends 'auth.html' %}

{% block titre %}DUlSine - Login{% endblock %}

{% block corps %}
<div class="hero-unit">
    <center>
    {% if form.errors %}
      <p>Login ou mot de passe incorrecte.</p>
    {% endif %}

    <form method="post" action="{% url 'accounts.login' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label }}</td>
        <td>{{ form.password }}</td>
    </tr>
    </table>

    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <center>
</div>

{% endblock %}
