{% extends 'auth.html' %}

{% block titre %}{{ structure.nom }} - {{ dim }}{% endblock %}
{% block corps %}
<div class="page-header">
  <h1>{{ dim }}</h1>
</div>

<div class="row">
  <div class="span12">
    <h4>Informations générales</h4>
    <dl class="dl-horizontal">
      <dt>Intitulé</dt>
      <dd>{{ dim }}</dd>
      <dt>Lieu</dt>
      <dd>{{ dim.DPS.lieu }}</dd>
      <dt>Date</dt>
      {% if dim.debut|date:"d/m/y" == dim.fin|date:"d/m/y" %}
      <dd>Le {{ dim.debut|date:"l d/m/y" }} de {{ dim.debut|date:"H:i" }} à {{ dim.fin|date:"H:i" }}</dd>
      {% else %}
      <dd>Du {{ dim.debut|date:"l d/m/y" }} à {{ dim.debut|date:"H:i" }} au {{ dim.fin|date:"l d/m/y" }} à {{ dim.fin|date:"H:i" }}</dd>
      {% endif %}
    </dl>
  </div>
  <div class="span12">
    <h4>Equipes</h4>
  </div>
  <div class="span12">
    <h4>Véhicules</h4>
  </div>
  <div class="span12">
    <h4>Matériels</h4>
  </div>
</div>
{% endblock %}
