{% extends 'auth.html' %}

{% block titre %}{{ structure.nom }} - {{ dim }}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="{% url 'index' %}">Accueil</a> <span class="divider">/</span></li>
  <li><a href="#">Événements</a> <span class="divider">/</span></li>
  <li><a href="{% url 'dps.index' user.benevole.structure.numero %}">DPS</a> <span class="divider">/</span></li>
  <li class="active">{{ dim }}</li>
</ul>
{% endblock %}

{% block corps %}
<div class="page-header">
  <h1>{{ dim }}{% if user.is_staff %} <small><a href="{% url 'dps.admin.dimensionnement.details' dim.DPS.structure.numero dim.DPS.id dim.id %}">Admin</a></small>{% endif %}</h1>
</div>

<div class="row">
  <div class="span12">
    <h4 class="modal-header">Informations générales</h4>
    <dl class="dl-horizontal">
      <dt>Intitulé</dt>
      <dd>{{ dim }}</dd>
      <dt>Lieu</dt>
      <dd>{{ dim.DPS.lieu }}</dd>
      <dt>Date</dt>
      {% if dim.debut|date:"d/m/y" == dim.fin|date:"d/m/y" %}
      <dd>Le {{ dim.debut|date:"l d/m/y" }} de {{ dim.debut|date:"H:i" }} à {{ dim.fin|date:"H:i" }}</dd>
      {% else %}
      <dd>Du {{ dim.debut|date:"l d/m/y" }} à {{ dim.debut|date:"H:i" }} au {{ dim.fin|date:"l d/m/y" }} à {{ dim.fin|date:"H:i" }}</dd>
      {% endif %}
    </dl>
  </div>
  <div class="span12">
    <h4 class="modal-header">Equipes</h4>
  </div>
  <div class="span12">
    <h4 class="modal-header">Véhicules</h4>
  </div>
  <div class="span12">
    <h4 class="modal-header">Matériels</h4>
  </div>
</div>
{% endblock %}
