{% extends 'auth.html' %}

{% load dulsine_extras %}

{% block titre %}{{ structure.nom }} - DPS{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="{% url 'index' %}">Accueil</a> <span class="divider">/</span></li>
  <li><a href="#">Événements</a> <span class="divider">/</span></li>
  <li class="active">DPS</li>
</ul>
{% endblock %}

{% block corps %}
<div class="page-header">
  <h1>Liste des DPS <small>Inscription</small></h1>
</div>

<p>Cliquer sur le poste qui vous intéresse pour indiquer votre disponbilité.</p>
<p>Si vous n'êtes pas disponible, merci de l'indiquer en cliquant sur «N.D.» (Non Disponible)</p>

<div class="row">
{% regroup all_dim by debut|date:"F o" as all_dim_by_months %}
{% for month in all_dim_by_months %}

<div class="span12">
<h4>{{ month.grouper|capfirst }}</h4>
<table class="table table-striped">
<thead>
<tr>
 <th width="10%">Date</th>
 <th width="10%">Horaire</th>
 <th width="45%">Nom</th>
 <th width="10%">Dispo</th>
 <th width="5%">N.D.</th>
 <th width="5%">CI</th>
 <th width="5%">PSE2</th>
 <th width="5%">PSE1</th>
 <th width="5%">PSC1</th>
</tr>
</thead>

{% for dim in month.list %}
<tr id="{{ dim.id }}">
  <td>{{ dim.debut|date:"D d"|capfirst }}</td>
  <td>{{ dim.debut|date:"H:i" }} - {{ dim.fin|date:"H:i" }}</td>
  <td><a href="{% url 'dps.dimensionnement.details' dim.DPS.structure.pk dim.id %}">{{ dim }}</a></td>
  <td>{% label dim.id user.id %}</td>
  <td><span class="badge clickable nombre_nd" dim-id="{{ dim.id }}" function-id="0">{{ dim.nombreND }}</span></td>
  <td>{% badge dim.id 1 %}</td>
  <td>{% badge dim.id 2 %}</td>
  <td>{% badge dim.id 3 %}</td>
  <td>{% badge dim.id 4 %}</td>
</tr>
{% endfor %}
</table>
</div>

{% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
  // Force the cursor to be a pointer above clickable elements
  $("span.clickable").css("cursor", "pointer")

  var function_names = { "N.D.": 0, "Disponible": 1, "Intéressé": 2, "Très intéresse": 3}
  $("span.clickable").click(function(event) {
    $.getJSON($(this).attr("dim-id") + "/inscription/" + $(this).attr("function-id") + '/').done(function(response) {
      if(response.wish in function_names) {
        // Special case for 'ND'
        if(response.wish == "N.D.")
          $("tr#" + response.dim + " > td > span.label").replaceWith("<span class=\"label label-inverse\">" + response.wish + "</span>")
        else
          $("tr#" + response.dim + " > td > span.label").replaceWith("<span class=\"label label-warning\">" + response.wish + "</span>")
        $("tr#" + response.dim + " > td > span.badge.nombre_nd").html(response.nombreND)
      }
    })
  })
</script>
{% endblock %}
