{% extends 'auth.html' %}

{% block titre %}{{ structure.nom }} - DPS{% endblock %}
{% block corps %}
<div class="page-header">
  <h1>Liste des DPS <small>Inscription</small></h1>
</div>

<div class="row">
{% regroup all_dim by debut|date:"F o" as all_dim_by_months %}
{% for month in all_dim_by_months %}

<div class="span12">
<h4>{{ month.grouper|capfirst }}</h4>
<table class="table table-striped">
<thead>
<tr>
 <th width="10%">Date</th>
 <th width="10%">Horaire</th>
 <th width="50%">Nom</th>
 <th width="10%">Status</th>
 <th width="5%">CI</th>
 <th width="5%">PSE2</th>
 <th width="5%">PSE1</th>
 <th width="5%">PSC1</th>
</tr>
</thead>

{% for dim in month.list %}
<tr>
  <td>{{ dim.debut|date:"D d"|capfirst }}</td>
  <td>{{ dim.debut|date:"H:i" }} - {{ dim.fin|date:"H:i" }}</td>
  <td><a href="{% url 'dps.dimensionnement.details' dim.DPS.structure.pk dim.id %}">{{ dim }}</a></td>
  <td>???</td>
  <td><span class="badge badge-important">0/1</span></td>
  <td><span class="badge badge-warning">1/2</span></td>
  <td><span class="badge badge-success">1/1</span></td>
  <td><span class="badge badge-info">0/1</span></td>
</tr>
{% endfor %}
</table>
</div>

{% endfor %}
</div>
{% endblock %}
