<html>
<body>
    <h1>Demande de poste de secours</h1>
    <p>Pour faire la demande pour un poste de secours (DPS), veuillez remplir le formulaire suivant aussi précisément que possible.<p>
    <h2>Informations sur l'organisateur :</h2>
    <form action="" method="post">{% csrf_token %}

        <h3>Contact :</h3>
        <table>
            <tr>
                <td></td>
                <td>{{ form_orga.contact_civilite.errors }}
                    {% for radio in form_orga.contact_civilite %}
                        {{ radio }}
                    {% endfor %}
                    {% for error in form_orga.contact_civilite.errors %}<strong>{{ error|escape }}</strong>{% endfor %}
                </td>
            </tr>
            <tr>
                <td><label for='id_contact_nom'>Nom : </label></td>
                <td>{{form_orga.contact_nom }} {% for error in form_orga.contact_nom.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_contact_prenom'>Prénom :</label></td>
                <td>{{ form_orga.contact_prenom }} {% for error in form_orga.contact_prenom.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_contact_fonction'>Fonction :</label></td>
                <td>{{ form_orga.contact_fonction }} {% for error in form_orga.contact_fonction.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
        </table>

        <h3>Représentant légal :</h3>
        <table>
            <tr>
                <td></td>
                <td>{{ form_orga.representant_civilite.errors }}
                    {% for radio in form_orga.representant_civilite %}
                        {{ radio }}
                    {% endfor %}
                    {% for error in form_orga.representant_civilite.errors %}<strong>{{ error|escape }}</strong>{% endfor %}
                </td>
            </tr>
            <tr>
                <td><label for='id_representant_nom'>Nom :</label></td>
                <td>{{ form_orga.representant_nom }}{% for error in form_orga.representant_nom.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_representant_prenom'>Prénom :</label></td>
                <td>{{ form_orga.representant_prenom }}{% for error in form_orga.representant_prenom.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_representant_fonction'>Fonction :</label></td>
                <td>{{ form_orga.representant_fonction }}{% for error in form_orga.representant_fonction.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
        </tr>
        </table>

        <h3>Organisation :</h3>
        <table>
            <tr>
                <td><label for='id_nom'>Nom :</label></td>
                <td>{{ form_orga.nom }}{% for error in form_orga.nom.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_adress'>Adresse :</label></td>
                <td>{{ form_orga.adresse }}{% for error in form_orga.adresse.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_telephone'>Téléphone :</label></td>
                <td>{{ form_orga.telephone }}{% for error in form_orga.telephone.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_portable'>Portable :</label></td>
                <td>{{ form_orga.portable }}{% for error in form_orga.portable.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_fax'>Fax :</label></td>
                <td>{{ form_orga.fax }}{% for error in form_orga.fax.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_email'>Email :</label></td>
                <td>{{ form_orga.email }}{% for error in form_orga.email.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
        </table>

    <h2>Information sur la manifestation</h2>
        <h3>Informations générales :</h3>
        <table>
            <tr>
                <td><label for='id_intitule'>Intitule :</label></td>
                <td>{{ form_dps.intitule }}{% for error in form_dps.intitule.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_objet'>Objet :</label></td>
                <td>{{ form_dps.objet }}{% for error in form_dps.objet.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_adresse_rdv'>Adresse de rendez-vous :</label></td>
                <td>{{ form_dps.adresse_rdv }}{% for error in form_dps.adresse_rdv.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            <tr>
        </table>

        <h3>Contact sur place :</h3>
        <table>
            <tr>
                <td></td>
                <td>{{ form_dps.contact_sur_place_civilite.errors }}
                    {% for radio in form_dps.contact_sur_place_civilite %}
                        {{ radio }}
                    {% endfor %}
                    {% for error in form_dps.contact_sur_place_civilite.errors %}<strong>{{ error|escape }}</strong>{% endfor %}
                </td>
            </tr>
            <tr>
                <td><label for='id_contact_sur_place_nom'>Nom : </label></td>
                <td>{{form_dps.contact_sur_place_nom }} {% for error in form_dps.contact_sur_place_nom.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_contact_sur_place_prenom'>Prénom :</label></td>
                <td>{{ form_dps.contact_sur_place_prenom }} {% for error in form_dps.contact_sur_place_prenom.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_contact_sur_place_telephone'>Téléphone :</label></td>
                <td>{{ form_dps.contact_sur_place_telephone }} {% for error in form_dps.contact_sur_place_telephone.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
        </table>


        <h3>Caractéristiques du lieu :</h3>
        <table>
            <tr>
                <td><label for='id_lieu'>Adresse :</label></td>
                <td>{{form_dps.lieu}} {% for error in form_dps.lieu.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_lieu'>Circuit :</label></td>
                <td>{{form_dps.circuit}} {% for error in form_dps.circuit.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_superficie'>Superficie (en m²):</label></td>
                <td>{{form_dps.superficie}} {% for error in form_dps.superficie.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_distance'>Distance entre les deux points les plus éloingé du site (en m) :</label></td>
                <td>{{form_dps.distance}} {% for error in form_dps.distance.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
            <tr>
                <td><label for='id_risques'>Risques :</label></td>
                <td>{{form_dps.risques}} {% for error in form_dps.risques.errors %}<strong>{{ error|escape }}</strong>{% endfor %}</td>
            </tr>
        </table>


 
    <input type="submit" value="Submit" />
    </form>
</body>
</html>
