{% extends 'auth.html' %}

{% block titre %}DUlSine - Demande de DPS : Dimensionnement{% endblock %}

{% block corps %}
<div class="page-header">
  <h1>Nouveau dimensionnement</h1>
</div>

<form action="" method="post" class="form-horizontal">
  {% csrf_token %}

  <h2>Information generales</h2>
  <div class="row">
    <div class="span6">
      <legend>Dimensionnement :</legend>
      <div class="control-group">
        <label class="control-label" for="id_nom">Nom</label>
        <div class="controls">
          {{ form.nom }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_debut">Début</label>
        <div class="controls">
          {{ form.debut }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_fin">Fin</label>
        <div class="controls">
          {{ form.fin }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <legend>Public :</legend>
      <div class="control-group">
        <label class="control-label" for"=id_effectifs_public">Effectifs</label>
        <div class="controls">
          {{ form.effectifs_public }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for"=id_age_public">Age</label>
        <div class="controls">
          {{ form.age_public }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for"=id_besoins_specifiques">Besoins spécifiques</label>
        <div class="controls">
          {{ form.besoins_specifiques }}
        </div>
      </div>
    </div>
    <div class="span6">
      <legend>Acteurs :</legend>
      <div class="control-group">
        <label class="control-label" for"=id_effectifs_acteurs">Effectifs</label>
        <div class="controls">
          {{ form.effectifs_acteurs }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for"=id_age_acteurs">Age</label>
        <div class="controls">
          {{ form.age_acteurs }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for"=id_type_acteurs">Type</label>
        <div class="controls">
          {{ form.type_acteurs }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <legend>Risques</legend>
      <div class="control-group">
        <label class="control-label" for="id_P2">Comportement du public</label>
        <div class="controls">
          {{ form.P2 }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_E1">Environnement</label>
        <div class="controls">
          {{ form.E1 }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_E2">Temps d'arrivée des secours public</label>
        <div class="controls">
          {{ form.E2 }}
        </div>
      </div>
    </div>
  </div>

  <h2>Secours present</h2>
  <div class="row">
    <div class="span6">
      <legend>Secours prives :</legend>
      <div class="control-group">
        <label class="control-label" for="id_medecin">Médecin</label>
        <div class="controls">
          {{ form.medecin }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_infirmier">Infirmier</label>
        <div class="controls">
          {{ form.infirmier }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_ambulance_prive">Ambulance Privée</label>
        <div class="controls">
          {{ form.ambulance_prive }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_secours_atures">Autres secours</label>
        <div class="controls">
          {{ form.secours_autre }}
        </div>
      </div>
    </div>
    <div class="span6">
      <legend>Secours publics :</legend>
      <div class="control-group">
        <label class="control-label" for="id_centre_sdis">Centre de secours</label>
        <div class="controls">
          {{ form.centre_sdis }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_hopital">Hopital</label>
        <div class="controls">
          {{ form.hopital }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="id_secours_public">Présence de secours publics</label>
        <div class="controls">
          {{ form.secours_public }}
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn">{% if nouveau %}Ajouter le dimensionnement{% else %}Enregistrer{% endif %}</button>
</form>

{% endblock %}
