{% extends 'auth.html' %}

{% block titre %}DUlSine - Gestion de DPS{% endblock %}


{% block corps %}
<div class="hero-unit">
  <div class="page-header">
    <h1>DUlSine <small>Système de gestion de DPS</small></h1>
  </div>
  <p>DUlSine est un gestionnaire de DPS conçu afin de faciliter le travail lors de demandes de DPS, gestion d'inscriptions, gestion logisitique ...</p>
  <p>Pour en savoir plus, n'hésiter pas à consulter le GitHub du projet.</p>
  <p class="text-center"><a class="btn btn-primary btn-large" href="https://github.com/ivoire/DUlSine">Télécharger DUlSine sur Github</a></p>
</div>
<div class="row">
  <div class="span6">
    <h2 class="text-center">Je suis organisateur ...</h2>
    <p>... et j'organise un événement festif/sportif/culturel/festif.</p>
    <p>Nous et nos équipes sommes à votre disposition pour assurer la sécurité. N'hésitez pas à </p>
  </div>
  <div class="span6">
    <h2 class="text-center">Je suis bénévole ...</h2>
    <p>... et j'ai envie de participer aux différents DPS prévus.</p>
    <p>Suivez le lien ci-dessous pour accéder à votre espace personnel </p>
  </div>
</div>
<div class="row">
  <div class="span6">
    <p class="text-center"><a href="{% url 'dps.demande' %}" class="btn btn-large">Faire une demande de DPS</a></p>
  </div>
  <div class="span6">
    <p class="text-center"><a href="{% url 'accounts.login' %}" class="btn btn-large">Se connecter</a></p>
  </div>
</div>
{% endblock %}


