{% extends 'auth.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% get_static_prefix %}dulsine/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block titre %}DUlSine - Demande de DPS : Dimensionnement{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="{% url 'index' %}">Accueil</a> <span class="divider">/</span></li>
  <li><a href="{% url 'dps.demande' %}">Demande</a> <span class="divider">/</span></li>
  <li><a href="{% url 'dps.demande.details' dps.hash_id %}">{{ dps }}</a> <span class="divider">/</span></li>
  <li class="active">Dimensionnement</li>
</ul>
{% endblock %}

{% block corps %}
<div class="page-header">
  <h1>{% if nouveau %}Nouveau dimensionnement{% else %}Modification du dimensionnement{% endif %}</h1>
</div>

{% if form.errors %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Attention !</strong> certains éléments de la page sont mal remplis.
</div>
{% endif %}

<form action="" method="post" class="form-horizontal">
  {% csrf_token %}

  <h2>Information generales</h2>
  <div class="row">
    <div class="span6">
      <legend>Dimensionnement :</legend>
      <div class="control-group {% if form.nom.errors %}error{% endif %}">
        <label class="control-label" for="id_nom">Nom (facultatif)</label>
        <div class="controls">
          {{ form.nom }}
          {% for error in form.nom.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form.debut.errors %}error{% endif %}">
        <label class="control-label" for="id_debut">Début</label>
        <div class="controls">
          <div id="debut" class="input-append">
            {{ form.debut }}
            <span class="add-on"><i class="icon-calendar"></i></span>
          </div>
          {% for error in form.debut.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form.fin.errors %}error{% endif %}">
        <label class="control-label" for="id_fin">Fin</label>
        <div class="controls">
          <div id="fin" class="input-append">
            {{ form.fin }}
            <span class="add-on"><i class="icon-calendar"></i></span>
          </div>
          {% for error in form.fin.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <legend>Public :</legend>
      <div class="control-group {% if form.effectifs_public.errors %}error{% endif %}">
        <label class="control-label" for="id_effectifs_public">Effectifs</label>
        <div class="controls">
          {{ form.effectifs_public }}
          {% for error in form.effectifs_public.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form.age_public.errors %}error{% endif %}">
        <label class="control-label" for="id_age_public">Age</label>
        <div class="controls">
          {{ form.age_public }}
          {% for error in form.age_public.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form.besoins_specifiques.errors %}error{% endif %}">
        <label class="control-label" for="id_besoins_specifiques">Besoins spécifiques</label>
        <div class="controls">
          {{ form.besoins_specifiques }}
          {% for error in form.besoins_specifiques.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="span6">
      <legend>Acteurs :</legend>
      <div class="control-group {% if form.effectifs_acteurs.errors %}error{% endif %}">
        <label class="control-label" for="id_effectifs_acteurs">Effectifs</label>
        <div class="controls">
          {{ form.effectifs_acteurs }}
          {% for error in form.effectifs_acteurs.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form.age_acteurs.errors %}error{% endif %}">
        <label class="control-label" for="id_age_acteurs">Age</label>
        <div class="controls">
          {{ form.age_acteurs }}
          {% for error in form.age_acteurs.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form.type_acteurs.errors %}error{% endif %}">
        <label class="control-label" for="id_type_acteurs">Type</label>
        <div class="controls">
          {{ form.type_acteurs }}
          {% for error in form.type_acteurs.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <legend>Risques</legend>
      <div class="control-group {% if form.P2.errors %}error{% endif %}">
        <label class="control-label" for="id_P2">Comportement du public</label>
        <div class="controls">
          {{ form.P2 }}
          {% for error in form.P2.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form.E1.errors %}error{% endif %}">
        <label class="control-label" for="id_E1">Environnement</label>
        <div class="controls">
          {{ form.E1 }}
          {% for error in form.E1.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form.E2.errors %}error{% endif %}">
        <label class="control-label" for="id_E2">Temps d'arrivée des secours public</label>
        <div class="controls">
          {{ form.E2 }}
          {% for error in form.E2.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <h2>Secours présents</h2>
  <div class="row">
    <div class="span6">
      <legend>Secours privés :</legend>
      <div class="control-group {% if form.medecin.errors %}error{% endif %}">
        <label class="control-label" for="id_medecin">Médecin</label>
        <div class="controls">
          {{ form.medecin }}
          {% for error in form.medecin.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form.infirmier.errors %}error{% endif %}">
        <label class="control-label" for="id_infirmier">Infirmier</label>
        <div class="controls">
          {{ form.infirmier }}
          {% for error in form.infirmier.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form.ambulance_prive.errors %}error{% endif %}">
        <label class="control-label" for="id_ambulance_prive">Ambulance Privée</label>
        <div class="controls">
          {{ form.ambulance_prive }}
          {% for error in form.ambulance_prive.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form.secours_autre.errors %}error{% endif %}">
        <label class="control-label" for="id_secours_autres">Autres secours</label>
        <div class="controls">
          {{ form.secours_autre }}
          {% for error in form.secours_autre.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="span6">
      <legend>Secours publics :</legend>
      <div class="control-group {% if form.centre_sdis.errors %}error{% endif %}">
        <label class="control-label" for="id_centre_sdis">Centre de secours (Pompier)</label>
        <div class="controls">
          {{ form.centre_sdis }}
          {% for error in form.centre_sdis.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form.hopital.errors %}error{% endif %}">
        <label class="control-label" for="id_hopital">Hopital</label>
        <div class="controls">
          {{ form.hopital }}
          {% for error in form.hopital.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form.secours_public.errors %}error{% endif %}">
        <label class="control-label" for="id_secours_public">Présence de secours publics</label>
        <div class="controls">
          {{ form.secours_public }}
          {% for error in form.secours_public.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn">{% if nouveau %}Ajouter le dimensionnement{% else %}Enregistrer{% endif %}</button>
</form>

{% endblock %}

{% block script %}
<script type="text/javascript" src="{% get_static_prefix %}dulsine/js/vendor/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}dulsine/js/vendor/bootstrap-datetimepicker.fr.js"></script>
<script type="text/javascript">
  $(function() {
    $('#debut, #fin').datetimepicker({
      format: 'dd/MM/yyyy hh:mm',
      pickSeconds: false,
      language: 'fr',
    });
  });
</script>
{% endblock %}
