{% extends 'auth.html' %}


{% block titre %}DUlSine - Demande de DPS{% if not nouveau %} (modification){% endif %}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="{% url 'index' %}">Accueil</a> <span class="divider">/</span></li>
  {% if nouveau %}
  <li class="active">Demande</li>
  {% else %}
  <li><a href="{% url 'dps.demande' %}">Demande</a> <span class="divider">/</span></li>
  <li><a href="{% url 'dps.demande.details' dps.hash_id %}">{{ dps }}</a> <span class="divider">/</span></li>
  <li class="active">Modification</li>
  {% endif %}
</ul>
{% endblock %}

{% block corps %}
<div class="page-header">
  <h1>Demande de DPS</h1>
</div>

<p>Afin de remplir la demande pour un poste de secours (DPS), il vous faut remplir le questionnaire ci-contre ainsi que le suivant.</p>
<p>Dans l'ordre vous serez ammenés à décrire :</p>
<dl class="dl-horizontal">
  <dt>La manifestation</dt>
  <dd>Informations diverses sur vous et sur votre manifestation</dd>
  <dt>Les journées</dt>
  <dd>Pour chacunes des journées de votre manifestation, il faudra remplir un «dimenionnement». Ceci nous permet de déterminer le nombre adéquat de secouristes dont vous avez besoin pour chacuns des jours.</dd>
</dl>

{% if form_orga.errors or form_dps.errors %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Attention !</strong> les champs, indiqués en rouge dans la page, sont mal remplis.
</div>
{% endif %}

<form action="" method="post" class="form-horizontal">
  {% csrf_token %}
  <h2>Informations sur l'organisateur :</h2>
  <div class="row">
    <div class="span6">
      <legend>Contact :</legend>
      <div class="control-group {% if form_orga.contact_civilite.errors %}error{% endif %}">
        <label class="control-label" for="contact_civilite">Civilité</label>
        <div class="controls">
          {{ form_orga.contact_civilite.errors }}
          {% for radio in form_orga.contact_civilite %}
          {{ radio }}
          {% endfor %}
          {% for error in form_orga.contact_civilite.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form_orga.contact_nom.errors %}error{% endif %}">
        <label class="control-label" for="id_contact_nom">Nom</label>
        <div class="controls">
          {{form_orga.contact_nom }}
          {% for error in form_orga.contact_nom.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form_orga.contact_prenom.errors %}error{% endif %}">
        <label class="control-label" for="id_contact_prenom">Prénom</label>
        <div class="controls">
          {{form_orga.contact_prenom }}
          {% for error in form_orga.contact_prenom.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form_orga.contact_fonction.errors %}error{% endif %}">
        <label class="control-label" for="id_contact_fonction">Fonction</label>
        <div class="controls">
          {{form_orga.contact_fonction }}
          {% for error in form_orga.contact_fonction.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="span6">
      <legend>Représentant légal :</legend>
      <div class="control-group {% if form_orga.representant_civilite.errors %}error{% endif %}">
        <label class="control-label" for="representant_civilite">Civilité</label>
        <div class="controls">
          {% for radio in form_orga.representant_civilite %}
          {{ radio }}
          {% endfor %}
          {% for error in form_orga.representant_civilite.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form_orga.representant_nom.errors %}error{% endif %}">
        <label class="control-label" for="id_representant_nom">Nom</label>
        <div class="controls">
          {{form_orga.representant_nom }}
          {% for error in form_orga.representant_nom.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form_orga.representant_prenom.errors %}error{% endif %}">
        <label class="control-label" for="id_representant_prenom">Prénom</label>
        <div class="controls">
          {{form_orga.representant_prenom }}
          {% for error in form_orga.representant_prenom.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form_orga.representant_fonction.errors %}error{% endif %}">
        <label class="control-label" for="id_representant_fonction">Fonction</label>
        <div class="controls">
          {{form_orga.representant_fonction }}
          {% for error in form_orga.representant_fonction.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <legend>Organisation :</legend>
      <div class="row">
        <div class="span6">
          <div class="control-group {% if form_orga.nom.errors %}error{% endif %}">
            <label class="control-label" for="id_nom">Nom</label>
            <div class="controls">
              {{ form_orga.nom }}
              {% for error in form_orga.nom.errors %}
              <span class="help-inline">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="control-group {% if form_orga.adresse.errors %}error{% endif %}">
            <label class="control-label" for="id_adresse">Adresse</label>
            <div class="controls">
              {{ form_orga.adresse }}
              {% for error in form_orga.adresse.errors %}
              <span class="help-inline">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group {% if form_orga.telephone.errors %}error{% endif %}">
            <label class="control-label" for="id_telephone">Téléphone</label>
            <div class="controls">
              {{ form_orga.telephone }}
              {% for error in form_orga.telephone.errors %}
              <span class="help-inline">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="control-group {% if form_orga.portable.errors %}error{% endif %}">
            <label class="control-label" for="id_portable">Portable</label>
            <div class="controls">
              {{ form_orga.portable }}
              {% for error in form_orga.portable.errors %}
              <span class="help-inline">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="control-group {% if form_orga.fax.errors %}error{% endif %}">
            <label class="control-label" for="id_fax">Fax</label>
            <div class="controls">
              {{ form_orga.fax }}
              {% for error in form_orga.fax.errors %}
              <span class="help-inline">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="control-group {% if form_orga.email.errors %}error{% endif %}">
            <label class="control-label" for="id_email">Email</label>
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="icon-envelope"></i></span>
                {{ form_orga.email }}
              </div>
              {% for error in form_orga.email.errors %}
              <span class="help-inline">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2>Information sur la manifestation :</h2>
  <div class="row">
    <div class="span6">
      <legend>Informations générales</legend>
      <div class="control-group {% if form_dps.intitule.errors %}error{% endif %}">
        <label class="control-label" for="id_intitule">Intitulé</label>
        <div class="controls">
          {{ form_dps.intitule }}
          {% for error in form_dps.intitule.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form_dps.objet.errors %}error{% endif %}">
        <label class="control-label" for="id_objet">Objet</label>
        <div class="controls">
          {{ form_dps.objet }}
          {% for error in form_dps.objet.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form_dps.adresse_rdv.errors %}error{% endif %}">
        <label class="control-label" for="id_adresse_rdv">Adresse de rendez-vous</label>
        <div class="controls">
          {{ form_dps.adresse_rdv }}
          {% for error in form_dps.adresse_rdv.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="span6">
      <legend>Contact sur place</legend>
      <div class="control-group {% if form_dps.contact_sur_place_civilite.errors %}error{% endif %}">
        <label class="control-label" for="contact_sur_place_civilite">Civilite</label>
        <div class="controls">
          {% for radio in form_dps.contact_sur_place_civilite %}
          {{ radio }}
          {% endfor %}
          {% for error in form_dps.contact_sur_place_civilite.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form_dps.contact_sur_place_nom.errors %}error{% endif %}">
        <label class="control-label" for="id_contact_sur_place_nom">Nom</label>
        <div class="controls">
          {{ form_dps.contact_sur_place_nom }}
          {% for error in form_dps.contact_sur_place_nom.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form_dps.contact_sur_place_prenom.errors %}error{% endif %}">
        <label class="control-label" for="id_contact_sur_place_prenom">Prénom</label>
        <div class="controls">
          {{ form_dps.contact_sur_place_prenom }}
          {% for error in form_dps.contact_sur_place_prenom.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form_dps.contact_sur_place_telephone.errors %}error{% endif %}">
        <label class="control-label" for="id_contact_sur_place_telephone">Téléphone</label>
        <div class="controls">
          {{ form_dps.contact_sur_place_telephone }}
          {% for error in form_dps.contact_sur_place_telephone.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <legend>Caractéristiques du lieu</legend>
      <div class="control-group {% if form_dps.lieu.errors %}error{% endif %}">
        <label class="control-label" for="id_lieu">Adresse</label>
        <div class="controls">
          {{ form_dps.lieu }}
          {% for error in form_dps.lieu.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form_dps.circuit.errors %}error{% endif %}">
        <label class="control-label" for="id_circuit">Circuit</label>
        <div class="controls">
          {{ form_dps.circuit }}
          {% for error in form_dps.circuit.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form_dps.distance.errors %}error{% endif %}">
        <label class="control-label" for="id_distance">Distance entre les deux points les plus éloignés du site</label>
        <div class="controls">
          <div class="input-append">
            {{ form_dps.distance }}<span class="add-on"> mètres</span>
          </div>
          {% for error in form_dps.distance.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form_dps.superficie.errors %}error{% endif %}">
        <label class="control-label" for="id_superficie">Superficie du site</label>
        <div class="controls">
          <div class="input-append">
            {{ form_dps.superficie }}<span class="add-on"> mètre carrés</span>
          </div>
          {% for error in form_dps.superficie.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="control-group {% if form_dps.risques.errors %}error{% endif %}">
        <label class="control-label" for="id_risques">Risques</label>
        <div class="controls">
          {{ form_dps.risques }}
          {% for error in form_dps.risques.errors %}
          <span class="help-inline">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn">{% if nouveau %}Page suivante{% else %}Enregistrer{% endif %}</button>
</form>
{% endblock %}
