body {
    background: rgb(215, 215, 215);
}

#page {
    position: relative;
    width: 1050px;
    margin: 0pt auto;
    background: rgb(255, 255, 255)
}

#main h1 {
    border-top: 1px solid rgb(233, 233, 233);
    margin: 20px;
}

table {
    width: 80%;
    text-align: left;
    margin: 20px;
    margin-left: 40px;
}

tr.odd {
    background: rgb(232, 237, 255);
}

/*tr:hover {
    background: rgb(200, 200, 200);
}*/

