{% extends 'base.html' %}

{% block navbar %}
<ul class="nav">
  <li><a href="#"><i class="icon-home"></i> Accueil</a></li>
  <li><a href="#"><i class="icon-user"></i> Bénévoles</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-book"></i> Événements <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#">Tous</a></li>
      <li class="divider"></li>
      <li><a href="#">DPS</a></li>
      <li><a href="#">Formations</a></li>
      <li><a href="#">Divers</a></li>
    </ul>
  </li>
</ul>
<ul class="nav pull-right">
  <li class="active dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> Guillaume DEDRIE <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#">Mon compte</a></li>
      <li><a href="#">Aide</a></li>
      <li class="divider"></li>
      <li><a href="#">Déconnexion</a></li>
    </ul>
  </li>
</ul>
{% endblock %}
