{% extends 'auth.html' %}

{% load dulsine_extras %}

{% block titre %}{{ structure.nom }} - Gestion des DPS{% endblock %}

{% block corps %}
<div class="page-header">
  <h1>Liste des DPS <small>Administration</small></h1>
</div>

<div class="row">
{% regroup all_dim by debut|date:"F o" as all_dim_by_months %}
{% for month in all_dim_by_months %}

<div class="span12">
<h4>{{ month.grouper|capfirst }}</h4>
<table class="table table-striped">
<thead>
<tr>
  <th width="10%">Date</th>
  <th width="10%">Horaire</th>
  <th width="25%">DPS</th>
  <th width="25%">Dimensionnement</th>
  <th width="10%">Status</th>
  <th width="5%">CI</th>
  <th width="5%">PSE2</th>
  <th width="5%">PSE1</th>
  <th width="5%">PSC1</th>
</tr>
</thead>

{% for dim in month.list %}
<tr>
  <td>{{ dim.debut|date:"D d"|capfirst }}</td>
  <td>{{ dim.debut|date:"H:i" }} - {{ dim.fin|date:"H:i" }}</td>
  <td><a href="{% url 'dps.admin.details' dim.DPS.structure.pk dim.DPS.id %}">{{ dim.DPS.intitule }}</a></td>
  <td><a href="{% url 'dps.admin.dimensionnement.details' dim.DPS.structure.pk dim.DPS.id dim.id %}">{{ dim.shortName }}</a></td>
  <td>???</td>
  <td>{% badge dim.id 0 %}</td>
  <td>{% badge dim.id 1 %}</td>
  <td>{% badge dim.id 2 %}</td>
  <td>{% badge dim.id 3 %}</td>
</tr>
{% endfor %}
</table>
</div>

{% endfor %}
</div>

{% endblock %}
